<ion-tabs>

  <!--    <div class="nav">-->
  <!--        <button (click)="goTo('home')">home</button>-->
  <!--        <button (click)="goTo('about')">about</button>-->
  <!--        <button (click)="goTo('contact')">contact</button>-->
  <!--        <button (click)="goTo('test')">test</button>-->
  <!--        <button routerLink="test" >test</button>-->
  <!--        <ion-button routerLink="test"  >test</ion-button>-->
  <!--        <ion-button routerLink="about" >about</ion-button>-->
  <!--        <ion-button routerLink="contact" >contact</ion-button>-->

  <!--    </div>-->


    <ion-tab-bar slot="bottom">
<!--  <div class="nav">-->
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="about" class="test">
      <ion-icon name="information-circle"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="contact">
      <ion-icon name="contacts"></ion-icon>
    </ion-tab-button>
<!--  </div>-->
        <ion-tab-button tab="test">
            test
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
